/* ####### CONTACT MODAL ####### */
#contact_modal {
    display: none;
}
.contact_modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $transparent-grey;

    &__modal {
        border-radius: 5px;
        background-color: #DB8876;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;

        header {
            display: flex;
            justify-content: space-between;
            width: 100%;

            img {
                cursor: pointer;
            }

            h2 {
                font-size: rem(64);
                font-weight: normal;
                text-align: center;
            }
        }

        form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;

            label {
                color: #312E2E;
                font-size: 36px;
            }

            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: self-start;
                margin-bottom: 26px;
            }

            input {
                width: 100%;
                height: 68px;
                border: none;
                border-radius: 5px;
            }
        }
    }
}