/* ####### GENERAL ####### */

body {
    font-size: $base-font-size;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: $regular;
    margin: 0;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 45px 100px;

}