// ####### COLORS #######
$deep-red: #901C1C;
$light-red: #D3573C;
$peach: #DB8876;
$light-black: #312E2E;
$dark-grey: #525252;
$grey: #757575;
$light-grey: #FAFAFA;
$transparent-grey: rgba(196, 196, 196, .4);
$red-error: #FF2C00;

// ####### TYPOGRAPHIE #######
$main-font: "DM Sans", sans-serif;
$base-font-size: 16px;
$regular: 400;
$medium: 600;
$bold: 700;
