/* ####### HEADER ####### */
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}
.logo {
    height: 50px;
}