/* ####### HOMEPAGE ####### */

.photographer {
    &_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 100px;

        article {
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                color: #D3573C;
                font-size: 36px;
            }
            .photographer_wrapper {
                mask-image: url(../../../assets/images/mask.png);
                mask-repeat: no-repeat;
                width: 215px;
                height: 215px;

            }



            img {
                // mask-image: image(url(../../images/mask.png));

                width: 215px;
                height: 215px;
            }
        }

    }
}