/* ####### HOMEPAGE ####### */

.photographer {
    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 100px;
    }
    &__article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__img-mask {
        mask-image: url(../../../assets/images/mask.png);
        mask-repeat: no-repeat;
        width: 215px;
        height: 215px;

        img {
            width: 215px;
            height: 215px;
        }
    }
    &__name {
        color: #D3573C;
        font-size: 36px;
    }
}