/* ####### HOMEPAGE ####### */

header h1 {
    color: $deep-red;
    font-size: rem(36);
}

.photographer {
    &__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 75px;
        padding: 75px 0;
        text-align: center;
        margin: 0 -52.5px;
    }
    &__article {
        flex: 0 0 0;
        min-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__link {
        text-decoration: none;
    }
    &__name {
        color: $light-red;
        font-size: rem(36);
        text-decoration: none;
    }
    &__location {
        color: $deep-red;
        font-size: rem(13);
    }
    &__tagline {
        font-size: rem(10);
    }
    &__price {
        color: $grey;
        font-size: rem(9);
    }
}